body {
  height: 300vh;
}

header {
  background-image: url(../img/header-banner.jpg);
  background-size: cover;
  height: 105vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header-nav {
  background: none;
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-size: 100px;
  position: fixed;
  width: 800px;
  left: 50vw;
  transform: translateX(-50%);
  transform-origin: center top;
  margin-top: 200px;
  padding-top: 15px;
  scale: 0.6;
  text-align: center;
}

.header-subtitle {
  font-size: 40px;
  font-weight: 700;
  width: 90%;
  margin: auto;
  margin-top: 50vh;
}

.cookie-1 {
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 110%;
}

.cookie-2 {
  display: none;
}

@media (min-width: 750px) {
  .cookie-1 {
    position: absolute;
    bottom: -15%;
    left: -10%;
    transform-origin: bottom left;
    width: 30%;
  }

  .cookie-2 {
    position: absolute;
    bottom: -15%;
    right: -10%;
    transform-origin: bottom right;
    width: 30%;
    display: block;
  }

  h1 {
    font-size: 130px;
    width: 1600px;
  }

  header {
    margin-bottom: 6vh;
  }
}

@media (min-width: 550px) and (max-width: 950px) {
  h1 {
    font-size: 110px;
    scale: 0.5;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .cookie-1 {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
  }
}

.trigger-element {
  position: absolute;
  top: 50vh;
  display: none;
}
