/* ====================================
// css variables
// ==================================== */

:root {
  --light: #fff4cf;
  --dark-green: #1c3818;
  --light-green: #84ad5f;
  --brown: #301c09;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  overflow: hidden;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  color: var(--light);
  font-family: modesto-text, serif;
}

main {
  background-image: url(../img/main-background.jpg);
  background-size: contain;
  position: relative;
}

.background-top {
  position: absolute;
  top: 0;
  transform-origin: bottom center;
  transform: translateY(-99%);
  width: 100%;
}

span {
  background: var(--light-green);
  color: var(--light);
}
